PORT=5052
USER_SERVICE_URL=http://localhost:3001
JWT_SECRET=you-can-replace-this-with-your-own-secret

MONGODB_URI="mongodb+srv://admin:Password1234@questionanswer.ry1u0ps.mongodb.net/QuestionAnswer"
