MONGO_USER=MongoDBAdm
MONGO_PASS=Password123
MONGO_HOST=localhost
MONGO_PORT=27017
MONGODB_URI=
MONGO_DB_NAME=peerprep
# Secret for creating JWT signature
JWT_SECRET=you-can-replace-this-with-your-own-secret
